.DS_Store
/build
/.build
/.swiftpm
/*.xcodeproj
.publish
Package.resolved
Resources/img
/ben-build tools/parse-posts/DerivedData/*
/ben-build tools/output/*
Resources/sound
**/*.mp4
~*.xlsx
Output/sound/*
Output/img/*
Output/sound
Output/img
