body {
    background-color: #535185;
    font-family: Verdana, Sans-Serif;
}

.main-head {
    grid-area: header;
    height: 180px;
    border-radius: 12px;
    background-image:  url("/img/headerImg.png"), linear-gradient(#fffe0a, #c48a17);
    background-size:     contain;
    background-repeat:   no-repeat;
    background-position: center center;
}

.header-tc {
    background-image: url("/img/headerImgTC.png"), linear-gradient(#fffe0a, #c48a17);
}

.content {
    grid-area: content;
    background-color: #a6a6c2;
    padding: 30px;
    border-radius: 12px;
    min-height: 390px;
}

.side {
    grid-area: sidebar;
    background-color: #535185;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.main-footer {
    grid-area: footer;
    background-color: #535185;
    text-align: center;
}

.wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas:
    "header"
    "content"
    "sidebar"
    "footer";
}

.menu {
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-top: 35px;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
    white-space: nowrap;
}

.menu ul li a {
    color: #ffffff;
    text-decoration: none;
}

.menu .fullScreenMenu {
    display:none;
}

.mobileMenu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 2em;
    padding: 10px;
    font-weight: 500;
    text-decoration: underline;
    justify-content: space-between;
}

h3 {
    color:#4C4C4C;
    font-size:85%;
    font-weight: bold;
    margin-top: 5px;
}

h2 {
    font-size: 100%;
    font-weight: bold;
}   

.content > h3 {margin-bottom: 60px;}

a { color: #9E2606; }

.top-nav-links {
    display: flex;
    justify-content: space-between;
    margin-bottom:50px;
}

.content img {margin: 10px;}
.content .padded-line {margin-bottom: 1.25em; }

.content p {line-height: 1.33; margin-block-end: 2em;}
.spanEndPreview {display: inline; display:none;}

a.centered, a.centered img {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

ol.quotefile p {
    margin-left:5em;
    margin-top: 2em;
}

ol.quotefile li {
    margin-bottom: 3em;
}

.footer-text {
    border-radius: 12px;
    background-color: #a6a6c2;
    display: inline-block;
    padding: 12px;
    font-size: 75%;
}

.divPostShort {
    border-radius: 12px;
    background-color: #a6a6a6;
    padding: 14px;
    margin-bottom: 14px;
    border: 2px solid #000;
}

.divPostShort h1 {
    margin-bottom: 0;
}

.divPostShort h1 a {
    color: #000;
    text-decoration: none;
}

.divPostShort .top-nav-links {
    margin-bottom: 0;
}

a.lightview {
    text-decoration:none;
}

.alignright {
    display: inline-block;
    float: right;
    margin-left: 25px;
    margin-bottom: 20px;
}

.caption, a .caption {
    font-weight: bold;
    color:#4C4C4C;
    font-size:80%;
}

blockquote {
    border-left:4px solid #4c4c4c;
    padding-left: 2em;
}

@media (min-width: 650px) {
    .wrapper {
        grid-template-columns: 2fr 7fr;
        grid-template-areas:
        "sidebar  header"
        "sidebar content"
        "deadzone  footer";
    }

    .topleft {
        height: 180px;
        background-image: url("/img/BenPurpleGold.JPG");
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    .topleft-tc {
        background-image: url("/img/tyler-corner.jpg");
    }

    .menu {
        display: block;
        text-align: right
    }

    .menu ul li {
        display: block;
        margin-bottom: 1em;
    }
    
    .menu-collapser .li-pagelink {
        display: none;
        margin-bottom: 0.4em;
        margin-right: 1.75em;
        font-weight: 500;
    }
    
    .menu-collapser .li-pagelink:last-child {
        margin-bottom: 1.75em;
    }
    
    .menu ul li.todo a, .menu ul li.todo {
        color: pink;
    }
    
    
    .menu .fullScreenMenu {
        display: block;
        padding-left: 0;
    }
    
    .menu .mobileMenu {
        display: none;
    }
    
    .content, .main-head {
        margin-right: 20px;
    }
    
    .content {
        min-height: 600px;
    }
}

@media (min-width: 650px) and (max-width: 810px) {
    .menu {
        font-size:75%;
        padding-left: 0;
    }
}


.haiku-single-entry {
    padding-bottom: 40px;
}

.haiku-single-entry a {
    text-decoration: none;
}
.haiku-single-entry a h1 {
    color: #000;
    margin: 0;
}

iframe {
    display:inline;
    float: right;
    margin-left: 25px;
    margin-bottom: 20px;
}
#tsob-fullpage-iframe {
    width: 100%; height: 100%;
}


