body {
    background-color: #535185;
    font-family: Verdana, Sans-Serif;
}

.main-head {
    grid-area: header;
    height: 180px;
    border-radius: 12px;
    background-image:  url("/img/headerImg.png"), linear-gradient(#fffe0a, #c48a17);
    background-size:     contain;
    background-repeat:   no-repeat;
    background-position: center center;
}

.content {
    grid-area: content;
    background-color: #a6a6c2;
    padding: 30px;
    border-radius: 12px;
    min-height: 390px;
}

.side {
    grid-area: sidebar;
    background-color: #535185;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.main-footer {
    grid-area: footer;
    background-color: #535185;
    text-align: center;
}

.wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas:
    "header"
    "content"
    "sidebar"
    "footer";
}

.menu {
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-top: 35px;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    margin-bottom: 1em;
    display: inline;
}

.menu ul li a {
    color: #ffffff;
    text-decoration: none;
}

h3 {
    color:#4C4C4C;
    font-size:85%;
    font-weight: bold;
    margin-top: 5px;
}



.footer-text {
    border-radius: 12px;
    background-color: #a6a6c2;
    display: inline-block;
    padding: 20px;
}

@media (min-width: 500px) {
    .wrapper {
        grid-template-columns: 2fr 7fr;
        grid-template-areas:
        "sidebar  header"
        "sidebar content"
        "footer  footer";
    }

    .topleft {
        height: 180px;
        background-image: url("/img/BenPurpleGold.JPG");
        background-repeat: no-repeat;
        background-position: center center;
    }

    .menu {
        text-align: right
    }

    .menu ul li {
        display: block;
    }

    .content, .main-head {
        margin-right: 20px;
    }
}


.haiku-single-entry {
    padding-bottom: 40px;
}

.haiku-single-entry a {
    text-decoration: none;
}
.haiku-single-entry a h1 {
    color: #000;
    margin: 0;
}

