body {
    background-color: #535185;
    font-family: Verdana, Sans-Serif;
}

.main-head {
    grid-area: header;
    height: 180px;
    border-radius: 12px;
    background-image:  url("/img/headerImg.png"), linear-gradient(#fffe0a, #c48a17);
    background-size:     contain;
    background-repeat:   no-repeat;
    background-position: center center;
}

.header-tc {
    background-image: url("/img/headerImgTC.png"), linear-gradient(#fffe0a, #c48a17);
}

.content {
    grid-area: content;
    background-color: #b5b5cd;
    padding: 30px;
    border-radius: 12px;
    min-height: 390px;
}

.side {
    grid-area: sidebar;
    background-color: #535185;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.main-footer {
    grid-area: footer;
    background-color: #535185;
    text-align: center;
}

.wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas:
    "header"
    "content"
    "sidebar"
    "footer";
}

.div-home-wrapper-inner {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "main"
    "blog"
    "dailyphoto";
}

.div-home-main-mess {
    grid-area: main;
}

.div-home-latestblog {
    grid-area: blog;
}

.div-home-dailyphoto {
    grid-area: dailyphoto;
    padding: 20px;
    background-color: #d0d28c;
    border: 1px solid black;
    border-radius: 12px;
}

.div-home-dailyphoto .div-dp-message {
    margin-top: 2em;
}

.content .div-home-dailyphoto img {
    display: block;
    margin: auto;
    padding: 20px;
    max-width: 80%;
    max-height: 500px;
}

.div-home-tweets {
    display:none;
}

.menu {
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-top: 35px;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
    white-space: nowrap;
}

.menu ul li a {
    color: #ffffff;
    text-decoration: none;
}

.menu .fullScreenMenu {
    display:none;
}

.mobileMenu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 2em;
    padding: 10px;
    font-weight: 500;
    text-decoration: underline;
    justify-content: space-between;
}

h1 {
    font-size: 150%;
    color: #000;
    font-weight: bold;
}

h3, h4 {
    color:#4C4C4C;
    font-size:85%;
    font-weight: bold;
    margin-top: 5px;
}

h2 {
    font-size: 120%;
    font-weight: bold;
    color:#4C4C4C;
}

h2 > a {
    text-decoration: none;
}

.embed-featured {
    display: inline-block;
    margin-left: 40px;
    margin-top: 50px;
}

.embed-featured iframe {
    max-width: 100%;
}

.content p.p-indented {
    margin:  0.25em 0 0 2em;
    margin-block: 0 0;
    line-height: 1.75;
}

.content > h3 {margin-bottom: 60px;}

a { color: #9E2606; }

.top-nav-links {
    display: flex;
    justify-content: space-between;
    margin-bottom:50px;
}

.top-nav-links div.link-arrow {
    flex: 2 1 0px;
    display: flex;
}

.top-nav-links div.link-middle {
    flex: 1 1 0px;
    justify-content: center;
}

.top-nav-links div.link-arrow-right {
    justify-content: right;
}

.top-nav-links .div-left-ticks, .top-nav-links .div-right-ticks {
    display:inline-block;
    height 100%;
}

.top-nav-links .div-left-text {
    display: inline-block;
    margin-left: 9px;
    flex: 1 1 0px;
}

.top-nav-links .div-right-text {
    display: inline-block;
    margin-right: 9px;
    flex: 1 1 0px;
    text-align: right;
}

.content img {margin: 10px;}
.content .padded-line {margin-bottom: 1.25em; }

.content .list-of-links {
    margin-left: 1.5em;
    line-height: 1.8em;
}

.content .list-of-links a {
    text-decoration: none;
}

.content p {line-height: 1.33; margin-block-end: 2em;}
.spanEndPreview { display:none;}

.content ul li {
    margin-bottom: 1.5em;
}

a.centered, a.centered img {
    display:block;
    margin-left:auto;
    margin-right:auto;
}



ol.quotefile p {
    margin-left:5em;
    margin-top: 2em;
}

ol.quotefile li {
    margin-bottom: 3em;
}

.footer-text {
    border-radius: 12px;
    background-color: #a6a6c2;
    display: inline-block;
    padding: 12px;
    font-size: 75%;
}

.divPostShort {
    border-radius: 12px;
    background-color: #a6a6a6;
    padding: 14px;
    margin-bottom: 14px;
    border: 2px solid #000;
}

.divPostShort h1 {
    margin-bottom: 0;
}

.divPostShort h1 a {
    color: #000;
    text-decoration: none;
}

.divPostShort .top-nav-links {
    margin-bottom: 0;
}

a.lightview {
    text-decoration:none;
}

a.lightview img {
    max-width:100%;
}

a.lightview.centered span.caption {
    display: block;
    width: 100%;
    text-align: center;
}

.alignright {
    display: inline-block;
    float: right;
    margin-left: 25px;
    margin-bottom: 20px;
}

.caption, a .caption {
    font-weight: bold;
    color:#4C4C4C;
    font-size:80%;
}

blockquote {
    border-left:4px solid #4c4c4c;
    padding-left: 2em;
    line-height: 1.75;
    font-size: 90%;
}

div.twitter-tweet {
    display:flex;
    justify-content: center;
}

.mt-timeline {
    height: auto;
    overflow-y: auto;
    position: relative;
    background: var(--bg-color);
    scrollbar-color: var(--bg-hover-color) rgba(0, 0, 0, 0.1);
    border: 2px solid black;
    border-radius: 8px;
    background-color: #d0d28c;
    max-height: 700px;
}

.mt-body {
    padding: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.mt-timeline h1 {
    font-size: 100%;
    margin-left: 1em;
    padding: 0;
}

.mt-user > a, .toot-text {
    color: #000;
}

.mt-toot {
    margin: 0.25rem;
    padding: 1rem 0.5rem 0.5rem 4rem;
    position: relative;
    min-height: 3.75rem;
    background-color: transparent;
    border-bottom: 2px solid #a6a6a6;
    font-size: 100%;
}


.mt-footer {
    margin: 0.5rem auto 0.25rem auto;
    padding: 0 2rem;
    text-align: center;
    font-size: 80%;
}

.mt-footer a.btn, .mt-toot a {
    color: #9E2606;
}


.div-image-gallery-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 80px;
    row-gap: 40px;
}

.div-image-gallery-link h3 {
    text-align: center;
}

.img-gal-link {
    width: 350px;
}

div.vid-gal-top-text {
    margin-bottom: 45px;
}

div.vid-gal-line-item {
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    background-color: #a6a6a6;
    padding: 14px;
    margin-bottom: 35px;
    border: 2px solid #000;
}

div.vid-gal-line-item div.vid-gal-stuff {
    flex: 5 0 auto;
    flex-wrap: wrap;
    width: 60%;
}

div.vid-gal-line-item div.vid-gal-thumbnail {
    flex: 2 2 auto;
}

div.vid-gal-thumbnail img {
    max-width: 100%;
}

div.micro-post-container {
    max-width: 290px;
    display: grid;
    grid-template-columns: 38px auto;
    font-size: 80%;
    border-bottom: 2px solid #999;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
}

div.micro-post-icon-top {
    position: absolute;
    top: 0;
}

div.micro-post-icon-bottom {
    position: absolute;
    bottom: 0;
}

div.micro-post-icons div img {
    width: 30px;
    height: auto;
    margin-left: 0;
}


div.micro-post-media img {
    max-width: 250px;
    height: auto;
}

.inline-list-of-links {
    display: inline-block;
    margin-right: 1.5em;
}

ul.compact {
    margin-top: 0;
    list-style-type: none;
}

ul.compact li {
    margin: 5px;
}

ul.compact li a {
    text-decoration: none;
}

table td {
    padding: 1em;
}

@media (min-width: 650px) {
    .wrapper {
        grid-template-columns: 2fr 7fr;
        grid-template-areas:
        "sidebar  header"
        "sidebar content"
        "deadzone  footer";
    }
    
    .div-home-wrapper-inner {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
        "main main"
        "tweets blog"
        "tweets dailyphoto"
        "shelly null";
    }
    
    .div-home-tweets {
        display:block;
        grid-area: tweets;
        max-width: 400px;
    }
    
    .div-home-tweets iframe {
        margin-left: 0;
    }
    
    .div-home-shelly {
        grid-area: shelly;
    }
    
    .div-adop-wrapper-inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "main main"
        "blog blog"
        "dailyphoto dailyphoto";
        gap: 20px;
    }
    
    .div-adop-wrapper-inner {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "vanya kolya"
        "bottomstuff bottomstuff";
        gap: 0;
    }
    
    .div-adop-v {
        border-right: 4px solid #8c8c8c;
        grid-area: vanya;
        padding-right: 15px;
    }
    
    .div-adop-k {
        grid-area: kolya;
        padding-left: 25px;
    }
    
    .div-adop-bottomstuff {
        grid-area: bottomstuff;
        margin-top:40px;
    }
    
    
    .topleft {
        height: 180px;
        background-image: url("/img/BenPurpleGold.JPG");
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    .topleft-tc {
        background-image: url("/img/tyler-corner.jpg");
    }

    .menu {
        display: block;
        text-align: right
    }

    .menu ul li {
        display: block;
        margin-bottom: 1em;
    }
    
    .menu-collapser .li-pagelink {
        display: none;
        margin-bottom: 0.4em;
        margin-right: 1.75em;
        font-weight: 500;
    }
    
    .menu-collapser .li-pagelink:last-child {
        margin-bottom: 1.75em;
    }
    
    .menu ul li.todo a, .menu ul li.todo {
        color: pink;
    }
    
    
    .menu .fullScreenMenu {
        display: block;
        padding-left: 0;
    }
    
    .menu .mobileMenu {
        display: none;
    }
    
    .content, .main-head {
        margin-right: 20px;
    }
    
    .content {
        min-height: 600px;
    }
}

@media (min-width: 650px) and (max-width: 810px) {
    .menu {
        font-size:75%;
        padding-left: 0;
    }
}


.haiku-single-entry {
    padding-bottom: 40px;
}

.haiku-single-entry a {
    text-decoration: none;
}
.haiku-single-entry a h1 {
    color: #000;
    margin: 0;
}


#tsob-fullpage-iframe {
    width: 100%; height: 100%;
}

img.greenline {
    display: block;
    margin:auto;
}
